@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.bg {
  background-image: url("https://res.cloudinary.com/eaglestudiosindia/image/upload/v1699356114/html5/backgrounds/marcel-strauss-p2DiYQFeT2Q-unsplash_c0bgnm.jpg");
  background-size: cover;
  /* background-position: left; */
  background-repeat: no-repeat;
}
